<%= form_tag translations_path, :id => "#{locale}.#{key}".gsub('.', '-'), :class => "translate", "data-remote" => true, :method => "post" do %>
  <%= hidden_field_tag :key, "#{locale}.#{key}" %>

  <span class='locale'><%= locale %>: </span><%= text_area_tag :value, val = (begin I18n.backend.translate locale, key; rescue; end) %>
  <%= submit_tag "Save", "data-disable-with" => "Saving...", :class => 'button' %>
  <% locale_key_status = "#{locale}.#{key}".gsub('.', '-') + "_status" %>
  <div id=locale_key_status style="display: inline"><%= "#{save_status}" %></div>
<% end %>
